# Ignore all Excel files
*.xlsx
*.xls
*.xlsm
*.xlsb

# Ignore all CSV files
*.csv

# Ignore temporary Excel "lock" files (files that start with ~$)
~$*

# Ignore environment variables
*.env

# Ignore pycache
*.pyc
__pycache__/